{% extends 'app/base.html' %}

{% load staticfiles %} 

{% block title %}index{% endblock %}

{% block link %}Donat{% endblock %}

{% block body %}


  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{donat|safe}});

        var options = {
          title: 'Total Orders',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>


<div id="donutchart" style="width: 600px; height: 400px; float:left; margin-left: 450px;"></div>


{% endblock %}